{% extends 'layout.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/admin-styles.css') }}" /> 
{% endblock %}

{% block content %}




<!-- Nav Bar -->
<div class="navbar">
    <a href="/admin/">Admin</a>
    <div class="dropdown">
      <button class="dropbtn">Create Users</button>
      <div class="dropdown-content">
        <a href="#">Create Player</a>
        <a href="/admin/create-coach">Create Coach</a>
        <a href="/admin/switch-teams">Switch Teams</a>
      </div>
    </div>
    <a href="/"><i class="fas fa-home"></i></a>
  </div>




  <form method="POST">
    <div class="container">
      <h3>Invite a user</h3>
      <hr>
  
<!-- 
      <label for="username"><b>Username*:</b></label>
      <input type="text" placeholder="Enter Username" name="username" id="username" required> -->
      

      <label for="email"><b>Email*:</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required>
      
      <!-- <div style="display: flex; flex-direction: row; width: 100%; padding-bottom: 15px; padding-top: 5px;">
        <div style="width: 50%;">
          <label for="gender"><b>Gender*:</b></label>
          <select name="gender" class="form-select" required>
            <option disabled selected>Choose gender</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select></br>
        </div>

        <div style="width: 50%;">
          <label for="team"><b>Team*:</b></label>
          <select name="team" class="form-select" required>
            <option disabled selected>Choose a team</option>
            {% for i in range(len) %}
            <option value='{{ids[i]}}'>{{groups[i]}}</option>
            {% endfor %}
          </select></br>
        </div>

      </div> -->


      <!-- <label for="bday"><b>Birthday:</b></label>
      <input type="text" placeholder="YYYY-MM-DD" name="bday" id="bday" required> -->
      
      <!-- <label for="bday"><b>Birthday*:</b></label>
      <input type="date" id="bday" name="bday" required> -->


      <!-- <label for="url"><b>Enter player image url:</b></label>
      <input type="url" name="url" id="url" placeholder="https://example.com" pattern="https://.*" size="100"></br> -->

      
      <!-- <label for="height"><b>Player height:</b></label>
      <input type="number" id="height" name="height"
            min="100" max="200">


      <label for="weight"><b>Player weight:</b></label>
      <input type="number" id="weight" name="weight"
            min="20" max="100"> -->

      <hr>
  
      <button type="submit" class="addbtn">Invite Player</button>
    </div>
  </form>
  

{% endblock %}
